<div class="card">
  <p-menubar [model]="items">
    <ng-template #start>
      <i class="pi pi-ticket" style="font-size: 1.5rem"></i>
    </ng-template>

    <ng-template #item let-item let-root="root">
      <ng-container *ngIf="!item.separator">
        <a
          pRipple
          class="flex items-center p-menubar-item-link"
          [routerLink]="item.routerLink"
          [routerLinkActive]="'active-link'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span>{{ item.label }}</span>

          <p-badge
            *ngIf="item.badge"
            [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
            [value]="item.badge"
          />

          <span
            *ngIf="item.shortcut"
            class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1"
          >
            {{ item.shortcut }}
          </span>

          <i
            *ngIf="item.items"
            [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"
          ></i>
        </a>
      </ng-container>

      <ng-container *ngIf="item.separator">
        <li class="p-menu-separator" role="separator"></li>
      </ng-container>
    </ng-template>

    <ng-template #end>
      <div class="flex items-center">
        <input
          type="text"
          pInputText
          placeholder="Search"
          class="w-64"
          style="margin-right: 24px;"
        />
        <i class="pi pi-user text-gray-500 text-3xl"></i>
      </div>
    </ng-template>

  </p-menubar>
</div>
